*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 20px 180px;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.links a{
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.ul-links{
    display: flex;
    list-style: none;
    gap: 20px;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 180px;
    background-color: #1f2937;
}

.txt-n-btn h3{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.txt-n-btn p{
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 15px;
    width: 85%;
}

.hero-img img{
    width: 500px;
    height: 290px;
}

.txt-n-btn button{
    padding: 10px 40px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    background-color: #3882f6;
    color: #f9faf8;
}

.ti-tle{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 50px 0;
}

.cards-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.imgs{
    width: 160px;
    height: 150px;
    border: none;
    border-radius: 10px;
}

.cards-div p{
    width: 160px;
}

.quote{
    background-color: #e5e7eb;
    padding: 100px 0;
}    

.quote-div{
    max-width: 800px;
    margin: 0px auto;
    display: block;
}

.quote-mp{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}

.quote-sp{
    font-weight: bold;
    text-align: right;
    font-size: 18px;
    margin-top: 10px;
}

.call-to-action{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
}

.cta-container{
    display: flex;
    align-items: center;
    gap: 120px;
    padding: 50px 150px;
    background-color: #3882f6;
    color:#f9faf8;
    border-radius: 12px;
}

.cta-text{
    text-align: left;
}

.cta-main-text{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.cta-container button{
    padding: 7px 35px;
    border: 2px solid #f9faf8;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    color: #f9faf8;
    background-color: #3882f6;
}

footer{
    text-align: center;
    padding: 35px 0;
    background-color: #1f2937;
    color: #f9faf8;
}

.copyright{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}

.photo-credit{
    font-size: 12px;
    font-weight: 400;
}

.photo-credit a{
    color: #e5e7eb;
}